SPRING_DATASOURCE_URL=jdbc:postgresql://SEU_RDS:5432/postgres
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=SUA_SENHA

AWS_REGION=us-east-1
AWS_BUCKET_NAME=eventostec-photoss

SERVER_ADDRESS=0.0.0.0
SERVER_PORT=8080
